@using TheMuscleBar.AppCode.Extensions;
<!DOCTYPE html>
@{
    string role = User.GetLoggedInUserRoles() ?? string.Empty; //Convert.ToString(ViewData["Role"]);
}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Title -->
    <title>The Muscle Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">*@
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css">
    <!-- Data Tables -->
    <link rel="stylesheet" href="~/theme/vendor/datatables/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/theme/vendor/datatables/dataTables.bs4-custom.css" />
    <link href="~/theme/vendor/datatables/buttons.bs.css" rel="stylesheet" />

    <!-- *************
        ************ Vendor Css Files *************
    ************ -->
    <!-- DateRange css -->
    <link rel="stylesheet" href="~/theme/vendor/daterange/daterange.css" />
    <!-- Data Tables -->
    <link rel="stylesheet" href="~/theme/vendor/datatables/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/theme/vendor/datatables/dataTables.bs4-custom.css" />
    <link href="~/theme/vendor/datatables/buttons.bs.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="page-main">
            <div class="header top-header">
                <div class="container-fluid">
                    <div class="d-flex header-nav">
                        <div class="color-headerlogo">
                            <!-- <a class="header-desktop" href="index.html">
                                <img src="/images/logo.png" />
                            </a>-->
                            <a class="header-mobile" href="/dashboard">
                                <img src="/images/logo.png" style="width: 50px;">
                            </a>
                        </div>
                        <div class="ml-2">
                            <form class="form-inline mt-2">
                                <div class="search-element">
                                    <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search" tabindex="1">
                                    <button class="btn btn-primary-color waves-effect waves-light" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        @if (!string.IsNullOrEmpty(role))
                        {
                            <ul class="navbar-nav nav align-items-center ml-auto">
                                <li class="nav-item main-profile-menu b-nav-dropdown dropdown dropdown-user">
                                    <a href="#" class="nav-link dropdown-toggle d-flex align-items-center dropdown-user-link waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
                                        <div class="d-sm-flex d-none user-nav">
                                            <p class="user-name font-weight-bolder mb-0"></p>
                                            @if (role.Equals("admin", StringComparison.OrdinalIgnoreCase) || role.Equals("1"))
                                            {
                                                <span class="user-status">Admin</span>
                                            }
                                            @if (role.Equals("apiuser", StringComparison.OrdinalIgnoreCase) || role.Equals("2"))
                                            {
                                                <span class="user-status">API User</span>
                                            }
                                        </div>
                                        <span class="b-avatar badge-minimal badge-light-primary rounded-circle" style="width: 40px; height: 40px;">
                                            <span class="b-avatar-img">
                                                <img src="/images/13-small.d796bffd.png" alt="avatar">
                                            </span>
                                            <span class="b-avatar-badge badge-success" style="font-size: calc(11.2px); bottom: 0px; right: 0px;"></span>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 56px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item waves-effect waves-light" href="/user/Profile"><i class="fa fa-user-circle"></i>Profile</a>
                                        <a class="dropdown-item waves-effect waves-light" href="/Account/Logout"><i class="fa fa-sign-out"></i>Sign Out</a>
                                    </div>
                                </li>
                            </ul>
                        }

                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(role))
            {
                <div class="horizontal-menu-wrapper">
                    <nav class="navbar navbar-expand-lg navbar-dark black radius-bottom">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                @if (role.Equals("admin", StringComparison.OrdinalIgnoreCase) || role.Equals("1"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" href="/dashboard">Dashboad</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link waves-effect waves-light" href="/User/Index/">Users</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Report
                                        </a>
                                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item waves-effect waves-light" href="/Report/ledger">ledger</a>
                                            <a class="dropdown-item waves-effect waves-light" href="/Report/Subscriptions">Subscriptions</a>
                                        </div>
                                    </li>
                                    @*<li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Jobs
                                        </a>
                                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item waves-effect waves-light" href="/myDashboard" target="_blank"> All Jobs</a>
                                            <a class="dropdown-item waves-effect waves-light" href="javascript:s.scheduleJob()"> Schedule</a>
                                            <a class="dropdown-item waves-effect waves-light" href="javascript:s.pauseTask()">Paused</a>
                                            <a class="dropdown-item waves-effect waves-light" href="javascript:s.resumeTask()">Resume</a>
                                        </div>
                                    </li>*@
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            }
            <div class="main-content app-content mt-0">
                <div class="main-container container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <script src="~/theme/js/jquery.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/theme/js/bootstrap.bundle.min.js"></script>
    <script src="~/theme/js/moment.js"></script>
    <script src="~/theme/vendor/daterange/daterange.js"></script>
    <script src="~/theme/vendor/daterange/custom-daterange.js"></script>
    <script src="~/theme/vendor/polyfill/polyfill.min.js"></script>
    <script src="~/theme/js/bootstrap.bundle.min.js"></script>
    <script src="~/theme/js/moment.js"></script>
    <script src="~/theme/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="~/theme/vendor/slimscroll/custom-scrollbar.js"></script>
    <script src="~/theme/vendor/datatables/dataTables.min.js"></script>
    <script src="~/theme/vendor/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/theme/vendor/datatables/custom/custom-datatables.js"></script>
    <script src="~/theme/vendor/datatables/custom/fixedHeader.js"></script>

    <!-- Download / CSV / Copy / Print -->
    <script src="~/theme/vendor/datatables/buttons.min.js"></script>
    <script src="~/theme/vendor/datatables/jszip.min.js"></script>
    <script src="~/theme/vendor/datatables/vfs_fonts.js"></script>
    <script src="~/theme/vendor/datatables/html5.min.js"></script>
    <script src="~/theme/vendor/datatables/buttons.print.min.js"></script>
    <script src="~/js/coreLib.js"></script>
    <link rel="stylesheet" href="~/js/toastr/toastr.js.map">
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://kit.fontawesome.com/a92c00a13e.js" crossorigin="anonymous"></script>
    <!-- Main JS -->
    <script src="~/theme/js/main.js"></script>
    <script>$('[data-toggle="dropdown"]').click()</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
