@model IEnumerable<TheMuscleBar.Models.ViewModel.AttendanceView>
<thead class="bg-mustered text-white">
    <tr>
        <th>#</th>
        <th>UserID</th>
        <th>User Name</th>
        <th>Date Time</th>
    </tr>
</thead>
<tbody>
    @if (Model.Any())
    {
        int j = 1;
        @foreach (var item in Model)
        {
            <tr>
                <td>@j</td>
                <td>@item.UserId</td>
                <td>@item.Name</td>
                <td>@item.VDateTime</td>
            </tr>
            j = j + 1;
        }


    }
</tbody>
