@{
    ViewData["Title"] = "Report";
    Layout = "_LayOut";
}
<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <select class="form-control p-2" id="ddlTop">
                    <option value="25">25</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="4000">4000</option>
                </select>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-2">
                <select class="form-control p-2" id="ddlStatus">
                    <option value="A">All</option>
                    <option value="S">Success</option>
                    <option value="F">Failed</option>
                    <option value="P">Pending</option>
                </select>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input id="txtSerch" class="form-control p-2" placeholder="Search On List" />
                    <div class="input-group-append" id="search" style="">
                        <label class="form-control pl-2 pr-2 text-white" style=" background-color: #e9ecef; border: 1px solid #ced4da;cursor:pointer;background:#2262c6">
                            <span class="fas fa-search"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-container">
            <div class="table-responsive">
                <table id="tble" class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>TId</th>
                            <th>RequestedId</th>
                            <th>Amount</th>
                            <th>EntryBy</th>
                            <th>UPISettingId</th>
                            <th>EntryOn</th>
                            <th>UTR</th>
                            <th>ModifyOn</th>
                            <th>Status</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            loadData();
        })
        var loadData = function () {
            let request = {
                Status: $('#ddlStatus').val(),
                Top: $('#ddlTop').val(),
                RequestedId: $('#txtSerch').val()
            };

            $.post('/Report/TransactionReport', request).done(function (result) {
                $('#tble tbody').html(result);
            }).fail(function (xhr) {
                console.log(xhr.responseText);
                alert('something went wrong');
            })
        };

        $('#search').click(() => loadData());

    </script>
        }

