@using TheMuscleBar.AppCode.Extensions
@{
    ViewData["Title"] = "Users";
    Layout = "_LayOut";
    string role = User.GetLoggedInUserRoles();
}
<div class="card mt-2">
    <div class="card-body">
        <div class="row" id="customeTool">
            <div class="col-sm-4">
                <select id="ddlcust" class="form-control">
                    <option value="Customer">Customer</option>
                    <option value="Staff">Staff</option>
                </select>
            </div>
            @*<div class="col-sm-2">
                <button id="btnsubmit" class="btn-dark">Search</button>
                </div>*@
        </div>
        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-mustered text-white">
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>EmailID</th>
                            <th>Adhaar</th>
                            <th>DOB</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    $(document).ready(function () {
        var v = $('#ddlcust').val();
        loadData(v);
    });
    var editUser = (id = -1) => {
        $.post('/User/Edit', { id }).done(result => {
            Q.alert({
                body: result
            });
        }).fail(xhr => Q.notify(-1, xhr.responseText));
    };
    $('#btnAddUser').click(() => editUser());
    const loadData = (role) => {
        Q.preloader.load();
        $.post('/User/UsersList', { role }).done(result => $('tbody').html(result)).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => Q.preloader.remove());
    }

    const collectFeeForm = (userId) => {
        $.post('/User/CollectForm', { userId }).done(result => {
            Q.alert({
                title: 'Collect Fee',
                body: result
            });
        }).fail(xhr => Q.notify(-1, xhr.responseText));
    }



    $('#ddlcust').change(e => {
        if (dt) {
            dt.destroy();
        }
        var v = $('#ddlcust').val();
        loadData(v);
    });



    $(document).on('click', '.btndelete', e => {
        let userId = $(e.currentTarget).closest('tr').data().userId;
        let html = `<input type='hidden' class='form-control' value='${userId}' id='hdnid'></input><input type='text' class='form-control' id='txtkey' placeholder='Enter Security Key Here'></input>
                <a type='submit' class="btn btn-dark" id='btnDelete'>SUBMIT</a>`;
        Q.alert({
            title:'Delete Record',
            body: html
        });
        $('#btnDelete').click(e => {
            if ($('#txtkey').val() != 'asdzxc') {
                Q.notify(-1, 'Invalid security Key');
                return false;
            }
            $(e.currentTarget).text('Requesting....').attr('disabled', 'disabled');
            $.post('/User/DeleteUserData', { id: $('#hdnid').val() })
                .done(result => {

                    Q.notify(result.statusCode, result.responseText);
                     var v = $('#ddlcust').val();
                    loadData(v);

                }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => $(e.currentTarget).text('SUBMIT').removeAttr('disabled'));
        });
    });
</script>
}