@using TheMuscleBar.AppCode.Extensions
@{
    ViewData["Title"] = "Users";
    Layout = "_LayOut";
    string role = User.GetLoggedInUserRoles();
}
<div class="card mt-2">
    <div class="card-body">
        <div class="float-right">
            <button id="btnAddUser" class="btn btn-sm btn-primary">New</button>
        </div>
        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>User Name</th>
                            <th>Mobile</th>
                            <th>EmailID</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            loadData();
        });
        $('#btnAddUser').click(() => {
            $.post('/Account/_Register').done(result => {
                Q.alert({
                    body: result
                });
            }).fail(xhr => Q.notify(-1, xhr.responseText));
        });
        $('.btnaddUser').click(() => dialog.user(-1));
        var loadData = () => {
            $.post('/User/UsersList').done(result => $('tbody').html(result)).fail(xhr => Q.notify(-1, xhr.responseText));
        }
    </script>
}