@using TheMuscleBar.AppCode.Extensions
@{
    ViewData["Title"] = "Users";
    Layout = "_LayOut";
    string role = User.GetLoggedInUserRoles();
}
<div class="card mt-2">
    <div class="card-body">
        <div class="float-right">
          @*  <button id="btnAddUser" class="btn btn-dark">New</button>*@
        </div>
        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-mustered text-white">
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>EmailID</th>
                            <th>Adhaar</th>
                            <th>DOB</th>
                            @*<th>IsActive</th>*@
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            loadData();
        });
        var editUser = (id = -1) => {
            $.post('/User/Edit', { id }).done(result => {
                Q.alert({
                    body: result
                });
            }).fail(xhr => Q.notify(-1, xhr.responseText));
        };
        $('#btnAddUser').click(() => editUser());
        const loadData = () => {
            $.post('/User/UsersList').done(result => $('tbody').html(result)).fail(xhr => Q.notify(-1, xhr.responseText));
        }

        const collectFeeForm = (userId) => {
            $.post('/User/CollectForm', { userId }).done(result => {
                Q.alert({
                    title: 'Collect Fee',
                    body: result
                });
            }).fail(xhr => Q.notify(-1, xhr.responseText));
        }
    </script>
}