@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>The Muscles Bar</title>
    <meta name="author" content="The Muscles Bar" />
    <meta name="description" content="The Muscles Bar" />
    <meta name="keywords" content="The Muscles Bar" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="~/website/img/favicons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/website/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/website/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/website/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="~/website/css/slick.min.css" />
    <link rel="stylesheet" href="~/website/css/plugins.css" />
    <link rel="stylesheet" href="~/website/css/animate.min.css" />
    <link rel="stylesheet" href="~/website/css/style.css" />
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div class="preloader">
        <button class="vs-btn preloaderCls">Cancel Preloader</button>
        <div class="preloader-inner">
            <div class="preload-logo"><img class="preload-bg" src="~/website/img/preload-bg.png" alt="Gimia" /> <img class="preload-icon" src="~/website/img/preload-icon.png" alt="Gimia" /></div>
        </div>
    </div>
    <div class="header-top-wrapper d-none d-lg-block">
        <div class="header-top-area">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-sm-block">
                        <div class="head-top-links2">
                            <span class="pr-20 border-right"><span class="radio-icon mr-6"></span> Welcome to The Muscles Bar</span>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 head-top-widget2 d-flex align-items-center justify-content-end">
                        <span class="pr-20 border-right"><i class="fal fa-clock mr-6"></i> Mon - Sat: 5:00 am - 10:00 pm</span>
                        <div class="vs-social-group">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-header-wrap sticky-header py-2 py-lg-1">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-5 col-md-3">
                    <div class="logo">
                        <a href="/"><img src="~/website/img/logo.png" alt="Gimia" /></a>
                    </div>
                </div>
                <div class="col-7 col-md-9 text-end position-static">
                    <nav class="main-menu menu-sticky1 d-none d-lg-block link-inherit">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#Services">Services</a></li>
                            <li><a href="#Gallery">Gallery</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <header class="header-wrapper tr-20">
        <div class="container position-relative">
            <div class="header-inner">
                <div class="row gx-20">
                    <div class="col-xl-4 col-lg-3">
                        <div class="logo-wrapper d-none d-lg-flex d-xl-flex justify-content-center">
                            <a href="#" class="support-link"><i class="far fa-headset"></i> Quick Support</a>
                            <div class="header-logo">
                                <a href="/"><img src="~/website/img/logo.png" alt="Gimia" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9">
                        <div class="menu-contact">
                            <div class="header-contact d-none d-lg-block d-xl-block">
                                <div class="row gx-0 px-45 justify-content-evenly">
                                    <!--<div class="col-auto">
                                        <div class="contact-box">
                                            <div class="icon-box"><i class="fal fa-map-marker-alt"></i></div>
                                            <div class="contact-content">
                                                <span class="text-light">Our Location</span>
                                                <h5 class="contact-title text-title">Near Kothari Bandhu Park, Rajaji Puram, Lucknow</h5>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-auto">
                                        <div class="contact-box">
                                            <div class="icon-box"><i class="fal fa-envelope-open-text"></i></div>
                                            <div class="contact-content">
                                                <span class="text-light">Online Support</span>
                                                <h5 class="contact-title text-title"><a href="mailto:">themusclesbargym@gmail.com</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="contact-box">
                                            <div class="icon-box"><i class="fal fa-phone-volume"></i></div>
                                            <div class="contact-content">
                                                <span class="text-light">Free Call</span>
                                                <h5 class="contact-title text-title"><a href="tel:+915224577107">+91 522 4577107 </a>, <a href="tel:+917318323334">+91 7318323334 </a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-shape"><span class="before"></span> <span class="after"></span></div>
                            </div>
                            <div class="menu-wrapper d-flex align-items-center">
                                <nav class="main-menu menu-style1 d-none d-lg-inline-block">
                                    <ul class="text-uppercase">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#Services">Services</a></li>
                                        <li><a href="#Gallery">Gallery</a></li>
                                        <li><a href="#contact">Contact</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-6">
                        <div class="header-logo d-lg-none d-md-inline-block">
                            <a href="/"><img src="~/website/img/logo.png" alt="Gimia" /></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-6 text-end">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="hambergur-menu">
                                <button type="button" class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="/"><img src="~/website/img/logo.png" alt="Gimia" /></a>
            </div>
            <div class="vs-mobile-menu">
                <ul class="text-capitalize list-style-none">
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Gallery">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="vs-hero-wrapper number-nav position-relative">
        <div class="vs-carousel hero-slider hero-slider1"
             data-dots="true"
             data-xl-dots="true"
             data-ml-dots="true"
             data-lg-dots="true"
             data-fade="true"
             data-slide-show="1"
             data-lg-slide-show="1"
             data-md-slide-show="1"
             data-sm-slide-show="1">
            <div class="vs-hero-inner">
                <div class="vs-hero-bg" data-bg-src="/website/img/bg/slider-1.jpg">
                    <div class="hero-content-area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-9">
                                    <div class="hero-content">
                                        <span class="text-theme hero-subtitle fw-medium" data-ani="slideinup" data-ani-delay="0s">Don’t stop till you drop!</span>
                                        <h1 class="hero-title text-white mb-20" data-ani="slideinup" data-ani-delay="0.3s">Your body hears everything that your mind says.</h1>
                                        <p class="text-white hero-desc mb-50" data-ani="slideinup" data-ani-delay="0.5s">
                                            Compellingly incubate wireless manufactured products via reliable networks. Uniquely reinvent maintainable ideas through enabled benefits.
                                        </p>
                                        <a href="javascript:void(0)" class="vs-btn style-white-hover" data-ani="slideinup" data-ani-delay="0.7s">View All Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vs-hero-inner">
                <div class="vs-hero-bg" data-bg-src="/website/img/bg/slider-2.jpg">
                    <div class="hero-content-area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-9">
                                    <div class="hero-content">
                                        <span class="text-theme hero-subtitle fw-medium" data-ani="slideinup" data-ani-delay="0s">Don’t stop till your Success!</span>
                                        <h1 class="hero-title text-white mb-20" data-ani="slideinup" data-ani-delay="0.3s">Body is the important part to lead a happy life</h1>
                                        <p class="text-white hero-desc mb-50" data-ani="slideinup" data-ani-delay="0.5s">
                                            Compellingly incubate wireless manufactured products via reliable networks. Uniquely reinvent maintainable ideas through enabled benefits.
                                        </p>
                                        <a href="javascript:void(0)" class="vs-btn style-white-hover" data-ani="slideinup" data-ani-delay="0.7s">View All Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vs-hero-inner">
                <div class="vs-hero-bg" data-bg-src="/website/img/bg/slider-3.jpg">
                    <div class="hero-content-area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-9">
                                    <div class="hero-content">
                                        <span class="text-theme hero-subtitle fw-medium" data-ani="slideinup" data-ani-delay="0s">Success comes from passion</span>
                                        <h1 class="hero-title text-white mb-20" data-ani="slideinup" data-ani-delay="0.3s">Love your body and work for this untill Success</h1>
                                        <p class="text-white hero-desc mb-50" data-ani="slideinup" data-ani-delay="0.5s">
                                            Compellingly incubate wireless manufactured products via reliable networks. Uniquely reinvent maintainable ideas through enabled benefits.
                                        </p>
                                        <a href="javascript:void(0)" class="vs-btn style-white-hover" data-ani="slideinup" data-ani-delay="0.7s">View All Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-section space" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col-1">
                        <div class="vs-img-box1 img-scale top-round mb-30"><img class="w-100" src="~/website/img/normal/about-1.jpg" alt="photo" /></div>
                        <div class="vs-content-box1 bg-theme">
                            <h2 class="about-number text-white"><span class="counter">500</span>+</h2>
                            <span class="about-name text-white">Happy Customer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="about-contents bg-white text-center">
                        <div class="title-area mb-30">
                            <span class="sub-title">Who We Are ?</span>
                            <h2 class="sec-title">Integrative fitness for a healthy lifestyle.</h2>
                            <img src="~/website/img/shapes/title-shape.png" alt="shape" />
                        </div>
                        <p class="about-desc mb-40">Compellingly grow market-driven collaboration and idea-sharing with principle-centered mindshare. Holisticly extend resource maximizing technologies innovative</p>
                        <a href="javascript:void(0)" class="vs-btn vs-btn-flex btn-center">View All Services</a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="about-col-2">
                        <div class="vs-img-box1 img-scale mb-30">
                            <div class="achive-img"><img src="~/website/img/normal/about-3.jpg" alt="photo" /></div>
                        </div>
                        <div class="vs-img-box1 img-scale bottom-round"><img src="~/website/img/normal/about-4.jpg" alt="photo" /></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-section space-top space-bottom-double" data-overlay="black" data-opacity="6" data-bg-src="~/website/img/bg/service-bg-home-1.jpg" id="Services">
        <div class="service-wrapper z-index-common">
            <div class="container">
                <div class="row vs-carousel" id="sbox1" data-slide-show="3" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true" data-lg-arrows="true" data-md-arrows="true">
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="vs-service-card bg-smoke">
                            <div class="service-icon mb-25"><img src="~/website/img/icons/dumbbell.png" alt="icons" /></div>
                            <h4 class="service-title"><a href="javascript:void(0)">Tons of Equipment</a></h4>
                            <p class="service-desc">Collaboratively develop revolutionary initiatives through backend markets develop excellent schemas</p>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="vs-service-card bg-smoke">
                            <div class="service-icon mb-25"><img src="~/website/img/icons/weightlifter.png" alt="icons" /></div>
                            <h4 class="service-title"><a href="javascript:void(0)">Expert Instructor</a></h4>
                            <p class="service-desc">Collaboratively develop revolutionary initiatives through backend markets develop excellent schemas</p>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="vs-service-card bg-smoke">
                            <div class="service-icon mb-25"><img src="~/website/img/icons/woman.png" alt="icons" /></div>
                            <h4 class="service-title"><a href="javascript:void(0)">Female Instructor</a></h4>
                            <p class="service-desc">Collaboratively develop revolutionary initiatives through backend markets develop excellent schemas</p>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="vs-service-card bg-smoke">
                            <div class="service-icon mb-25"><img src="~/website/img/icons/muscle.png" alt="icons" /></div>
                            <h4 class="service-title"><a href="javascript:void(0)">Fast Muscle Gain</a></h4>
                            <p class="service-desc">Collaboratively develop revolutionary initiatives through backend markets develop excellent schemas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="project-section" id="Gallery">
        <div class="container wow fadeInUp" data-wow-delay="0.1s">
            <div class="title-area bg-white full-negative-space text-center space-top">
                <span class="sub-title">Our Success Project</span>
                <h2 class="sec-title">Our Gallery</h2>
                <img src="~/website/img/shapes/title-shape.png" alt="shape" />
            </div>
        </div>
        <div class="container-fluid px-30">
            <div class="row g-30 justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="vs-project-card">
                        <div class="project-img"><img src="~/website/img/project/project-1.jpg" alt="project-img" /></div>
                        <div class="project-content bg-white">
                            <div class="title-subtitle">
                                <span class="project-sub-title fs-xs text-light">Fitness</span>
                                <h4 class="project-title mb-0">Weight Lifting</h4>
                            </div>
                            <a href="~/website/img/project/project-1.jpg" class="plus-btn icon-btn popup-image">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="vs-project-card">
                        <div class="project-img"><img src="~/website/img/project/project-2.jpg" alt="project-img" /></div>
                        <div class="project-content bg-white">
                            <div class="title-subtitle">
                                <span class="project-sub-title fs-xs text-light">Fitness</span>
                                <h4 class="project-title mb-0">Body Hit Up</h4>
                            </div>
                            <a href="~/website/img/project/project-2.jpg" class="plus-btn icon-btn popup-image">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="vs-project-card">
                        <div class="project-img"><img src="~/website/img/project/project-3.jpg" alt="project-img" /></div>
                        <div class="project-content bg-white">
                            <div class="title-subtitle">
                                <span class="project-sub-title fs-xs text-light">Fitness</span>
                                <h4 class="project-title mb-0">Muscle Building</h4>
                            </div>
                            <a href="~/website/img/project/project-3.jpg" class="plus-btn icon-btn popup-image">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="vs-project-card">
                        <div class="project-img"><img src="~/website/img/project/project-1.jpg" alt="project-img" /></div>
                        <div class="project-content bg-white">
                            <div class="title-subtitle">
                                <span class="project-sub-title fs-xs text-light">Fitness</span>
                                <h4 class="project-title mb-0">Yoga Movement</h4>
                            </div>
                            <a href="~/website/img/project/project-4.jpg" class="plus-btn icon-btn popup-image">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="vs-project-card">
                        <div class="project-img"><img src="~/website/img/project/project-5.jpg" alt="project-img" /></div>
                        <div class="project-content bg-white">
                            <div class="title-subtitle">
                                <span class="project-sub-title fs-xs text-light">Fitness</span>
                                <h4 class="project-title mb-0">Fat Burning</h4>
                            </div>
                            <a href="~/website/img/project/project-5.jpg" class="plus-btn icon-btn popup-image">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="vs-project-card">
                        <div class="project-img"><img src="~/website/img/project/project-6.jpg" alt="project-img" /></div>
                        <div class="project-content bg-white">
                            <div class="title-subtitle">
                                <span class="project-sub-title fs-xs text-light">Fitness</span>
                                <h4 class="project-title mb-0">Female Boxing</h4>
                            </div>
                            <a href="~/website/img/project/project-6.jpg" class="plus-btn icon-btn popup-image">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="vs-project-card">
                        <div class="project-img"><img src="~/website/img/project/project-7.jpg" alt="project-img" /></div>
                        <div class="project-content bg-white">
                            <div class="title-subtitle">
                                <span class="project-sub-title fs-xs text-light">Fitness</span>
                                <h4 class="project-title mb-0">Dumbel Press</h4>
                            </div>
                            <a href="~/website/img/project/project-7.jpg" class="plus-btn icon-btn popup-image">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="vs-project-card">
                        <div class="project-img"><img src="~/website/img/project/project-8.jpg" alt="project-img" /></div>
                        <div class="project-content bg-white">
                            <div class="title-subtitle">
                                <span class="project-sub-title fs-xs text-light">Fitness</span>
                                <h4 class="project-title mb-0">Body Shape</h4>
                            </div>
                            <a href="~/website/img/project/project-8.jpg" class="plus-btn icon-btn popup-image">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="appointment-section">
        <div class="appointment-wrapper space-top">
            <div class="container">
                <div class="row space-bottom">
                    <div class="col-xl-6 col-lg-5 mb-30 mb-lg-0 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="vs-img-box2"><img class="big-img" src="~/website/img/normal/appointment-big.jpg" alt="Workout" /> <img class="small-img" src="~/website/img/normal/appointment-small.jpg" alt="Dringking Rest" /></div>
                    </div>
                    <div class="col-xl-6 col-lg-7 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="appoint-form-area bg-white">
                            <h4 class="form-title">Book An Appointment</h4>
                            <span class="form-sub-title d-block mb-40">Please Call Us To Ensure</span>
                            <form action="#" method="POST" class="contact-form ajax-contact">
                                <div class="row g-30">
                                    <div class="form-group col-sm-6"><input type="text" class="form-control" name="name" id="name" placeholder="Your Name" /></div>
                                    <div class="form-group col-sm-6"><input type="email" class="form-control" name="email" id="email" placeholder="Your Email" /></div>
                                    <div class="form-group col-sm-8"><input type="number" class="form-control" name="number" id="number" placeholder="Phone No" /></div>
                                    <div class="form-group col-sm-4">
                                        <select name="age" id="age" class="form-select">
                                            <option value="" disabled="disabled" selected="selected" hidden>Age</option>
                                            <option value="1">0-14 Years</option>
                                            <option value="2">14-18 Years</option>
                                            <option value="2">18-24 Years</option>
                                            <option value="5">24-30 Years</option>
                                            <option value="6">30+ Years</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12">
                                        <select name="service" id="service" class="form-select">
                                            <option value="" disabled="disabled" selected="selected" hidden>Select Service</option>
                                            <option value="fatburn">Fat Burn</option>
                                            <option value="musclegain">Muscle Gain</option>
                                            <option value="bodyshape">Body Shape</option>
                                            <option value="aesthetics">Aesthetics</option>
                                        </select>
                                    </div>
                                    <div class="form-btn col-12"><button type="submit" class="vs-btn">Submit Now</button></div>
                                </div>
                                <p class="form-messages mb-0 mt-3"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="changed" data-sec-pos="bottom-half" data-pos-for="#team-section">
            <div class="container">
                <div id="comparison" class="comparison-wrapper"><img src="~/website/img/normal/before.jpg" alt="before" /> <img src="~/website/img/normal/after.jpg" alt="after" /></div>
            </div>
        </div>
    </section>

    <div class="team-section bg-smoke space" id="team-section">
        <div class="container wow fadeInUp" data-wow-delay="0.2s">
            <div class="title-area text-center">
                <span class="sub-title">They Are Always Best</span>
                <h2 class="sec-title">Our Expert Trainer</h2>
                <img src="~/website/img/shapes/title-shape.png" alt="shape" />
            </div>
        </div>
        <div class="container">
            <div class="row vs-carousel" id="tmbox1" data-slide-show="3" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true" data-lg-arrows="true" data-md-arrows="true">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-card text-center">
                        <div class="team-img"><img src="~/website/img/man/team-1.jpg" alt="team member" /></div>
                        <div class="team-content bg-white">
                            <h4 class="team-name mb-0"><a href="javascript:void(0)">Aman Singh Chauhan</a></h4>
                            <span class="team-desig fs-small text-theme">Trainer</span>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" href="https://www.instagram.com/amansinghchouhan2022/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-card text-center">
                        <div class="team-img"><img src="~/website/img/man/team-2.jpg" alt="team member" /></div>
                        <div class="team-content bg-white">
                            <h4 class="team-name mb-0"><a href="javascript:void(0)">Jully Adam</a></h4>
                            <span class="team-desig fs-small text-theme">Yoga Expert</span>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-card text-center">
                        <div class="team-img"><img src="~/website/img/man/team-3.jpg" alt="team member" /></div>
                        <div class="team-content bg-white">
                            <h4 class="team-name mb-0"><a href="javascript:void(0)">John David</a></h4>
                            <span class="team-desig fs-small text-theme">Shaper</span>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="team-card text-center">
                        <div class="team-img"><img src="~/website/img/man/team-4.jpeg" alt="team member" /></div>
                        <div class="team-content bg-white">
                            <h4 class="team-name mb-0"><a href="javascript:void(0)">Sunny Singh</a></h4>
                            <span class="team-desig fs-small text-theme">Body Builder</span>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-wrapper bg-title space-negative-top" id="contact">
        <div class="widget-area space-negative-bottom">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="widget footer-widget">
                            <div class="vs-widget-about">
                                <div class="footer-logo mb-3">
                                    <a href="/" style="background:#fff; padding:5px; height:100%;"><img src="~/website/img/logo.png" alt="Gimia" style="width:150px;" /></a>
                                </div>
                                <p class="mb-20">Energistically reintermediate world wide emerging integrate leader ship skills white board extensive quality quality vectors core...</p>
                                <div class="vs-social">
                                    <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank" href="https://instagram.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="widget footer-widget widget_nav_menu">
                            <h4 class="widget_title">Services</h4>
                            <ul class="menu">
                                <li><a href="javascript:void(0)">Body Health</a></li>
                                <li><a href="javascript:void(0)">Fitness Mind</a></li>
                                <li><a href="javascript:void(0)">Muscle Gain</a></li>
                                <li><a href="javascript:void(0)">Fat Burn</a></li>
                                <li><a href="javascript:void(0)">Mental Care</a></li>
                                <li><a href="javascript:void(0)">Body Shape</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="widget footer-widget">
                            <h4 class="widget_title">Our Location</h4>
                            <div class="vs-gallery-widget">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.713552964575!2d80.88160671436435!3d26.84906166929235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bff31a0e1c0e1%3A0xbac8229a1093d226!2sTHE%20MUSCLES%20BAR%20GYM!5e0!3m2!1sen!2sin!4v1663332607913!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="widget footer-widget availability-widget">
                            <h4 class="widget_title">Opening Time</h4>
                            <div class="vs-availability">
                                <table class="footer-table">
                                    <tbody>
                                        <tr>
                                            <td>Mon - Sat:</td>
                                            <td>5:00 am - 10:00 pm</td>
                                        </tr>

                                        <tr>
                                            <td>Sunday:</td>
                                            <td>5:00 am - 12:00 pm</td>
                                        </tr>

                                        <tr>
                                            <td>Special Ladies Batch:</td>
                                            <td>01:00 Pm - 05:00 pm</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="footer-location m-0">
                                    <i class="fal fa-map-marker-alt"></i> Near Kothari Bandhu Park, Rajaji Puram, Lucknow
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright-wrap bg-theme">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-auto text-center text-lg-end">
                        <p class="mb-0 text-white">
                            Copyright <i class="fal fa-copyright"></i> 2022 <a class="text-white" href="/">The Muscles Bar</a>. All rights reserved.
                        </p>
                    </div>
                    <div class="col-5 d-none d-lg-block">
                        <div class="footer-links text-end">
                            <ul>
                                <li><a href="#about">About</a></li>
                                <li><a href="#Services">Services</a></li>
                                <li><a href="#Gallery">Gallery</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
    <script src="~/website/js/jquery-3.5.0.min.js"></script>
    <script src="~/website/js/jquery.event.move.js"></script>
    <script src="~/website/js/slick.min.js"></script>
    <script src="~/website/js/bootstrap.min.js"></script>
    <script src="~/website/js/jquery.magnific-popup.min.js"></script>
    <script src="~/website/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/website/js/isotope.pkgd.min.js"></script>
    <script src="~/website/js/jquery.counterup.min.js"></script>
    <script src="~/website/js/vscustom-carousel.min.js"></script>
    <script src="~/website/js/wow.min.js"></script>
    <script src="~/website/js/comparison.js"></script>
    <script src="~/website/js/ajax-mail.js"></script>
    <script src="~/website/js/main.js"></script>
</body>
</html>
