<div class="row justify-content-center">
    <div class="col-4 col-xs-12">
        <div class="card mt-2">
            <div class="card-header">
                <h4>Get KeyCode</h4>
            </div>
            <div class="card-body">
                <h3 class="text-success"><small>Key is : <b class="keyIs"></b></small></h3>
                <div class="form-group">
                    <label for="Keys">Enter Key</label>
                    <input type="text" class="form-control" id="KeyCodeBox">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $('#KeyCodeBox').keypress(function (event) {
            let vals = $('#KeyCodeBox').val();
            if ((vals.length + 1) >= 2) {
                $('#KeyCodeBox').val(vals.substr(vals.length - 0));
            }
            var keycode = event.which;
            $('.keyIs').text(keycode);
        });
    </script>
}