<div class="text-center" style="color:#033481">
<h1 style="font-size: 14em;font-weight: 700;text-align:center;">404</h1>
<h6>Looks like the page you were looking<br/>for is no longer here.<br/><a href="/" class="btn btn-primary">Home</a></h6>

</div>